Body {
    height: 100%;
    width: 100%;
    font-family: 'Barlow Condensed', sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    background: white;
    font-size: 20px;
    -webkit-text-size-adjust: 100%;
    background: rgba(242,234,211,1.0);
}

a:link :visited{
    text-decoration:solid;
    color: black;
    text-decoration-style: wavy;
    text-decoration-color: grey;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: solid;
}

.top {
    float: left;
    width: 100%;
    overflow: hidden;
}
@media screen and (max-width: 1550px) {
	        #intrographics {
	            margin-left: -150px;
	        }
	    }

	    @media screen and (max-width: 1350px) {
	        #intrographics {
	                margin-left: -250px;
	        }
	    }

	    @media screen and (max-width: 1150px) {
	        #intrographics {
	                margin-left: -300px;
	        }
	    }
		
	    @media screen and (max-width: 950px) {
	        #intrographics {
	                margin-left: -400px;
	        }
	    }
.top img {
    opacity: 0.5;
}
.topImg {
    position:absolute; 
    margin-top:-140px; 
    margin-left:-50px; 
    width:700px; 
    height:450px; 
    background-image:url('~@/assets/graphics/introislands.png'); 
    background-size: cover;
    transition: all .2s ease-in-out;
}
@media screen and (max-width: 1550px) {
    .topImg {
        margin-left: -150px;
    }
}

@media screen and (max-width: 1350px) {
    .topImg {
            margin-left: -250px;
    }
}

@media screen and (max-width: 1150px) {
    .topImg {
            margin-left: -300px;
    }
}

@media screen and (max-width: 950px) {
    .topImg {
            margin-left: -400px;
    }
}

.preTitle {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 40px;
    margin-top: 140px;
    line-height: 0.5;
}
.mainTitle {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    width: 100%;
    float: left;
    text-align: center;
    font-size: 100px;
    margin-bottom: 40px;
}
.authors {
    text-align: center;
    font-size: 18pt;
}
.article {
    width: 72%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.articletext {
    width: 100%;
    text-align: justify;
    column-gap: 40px;
    column-rule-style: solid;
    column-rule-width: 1px;
    column-rule-color: gray;
    columns: 3;
    orphans: 2;
}
.icon {
    width: 40px;
    margin-top: 10px;
    cursor: pointer;
}
.bounce {
    display: inline-block;
    position: relative;
    -moz-animation: bounce 07s infinite linear;
    -o-animation: bounce 0.7s infinite linear;
    -webkit-animation: bounce 0.7s infinite linear;
    animation: bounce 0.7s infinite linear;
  }
  @-webkit-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-moz-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-o-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-ms-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}

.container {
    margin-top: 40px;
    cursor: pointer;
    text-align: center;
}

.underTitle {
font-size: 30px;
font-weight: bold;
}

.voyage {
    background-color: white;
    border-radius: 50%;
    width: 700px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    opacity: 0.99;
    transform: translateZ(0);
}

.map {
    width: 100%;
    margin-top: 30px;
}


.islandLink {
    font-size: 50px;
}

.video-container {
    text-align: center;
    width: 90% !important;
    padding: 20px !important;
}

.player {
    margin-left: auto;
    margin-right: auto;
}